In [1]:
cars = ("nissan", "jaguar", "honda")
print(cars)

('nissan', 'jaguar', 'honda')

In [2]:
len(cars)

3

In [32]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
print(tuple1[2:4])

('abc', 34, True, 40, 'male')
(True, 40)

In [7]:
if 40 in tuple1:
    print('YES')

YES

In [33]:
print(tuple1)

('abc', 34, True, 40, 'male')

In [34]:
print(tuple1)
x = list(tuple1)
x[1] = 35
tuple1 = tuple(x)

print(tuple1)

('abc', 34, True, 40, 'male')
('abc', 35, True, 40, 'male')

In [36]:
tuple1 += ('Hello',)
print(tuple1)

('abc', 35, True, 40, 'male', 'Hello')

In [38]:
print(tuple1)
(alpha,num,boool,num2,gender,text) = tuple1
print(alpha,num,boool,num2,gender,text)

('abc', 35, True, 40, 'male', 'Hello')
abc 35 True 40 male Hello